# Privy App ID - https://dashboard.privy.io/
NEXT_PUBLIC_PRIVY_APP_ID=your-privy-app-id
PRIVY_APP_SECRET=your-privy-app-secret

DATABASE_URL=your-database-url

# Thirweb API Key for Metadata
NEXT_PUBLIC_THIRDWEB_CLIENT=your-thirdweb-client-id
THIRDWEB_SECRET=your-thirdweb-secret

# OpenFormat API Key
OPENFORMAT_API_KEY=your-openformat-api-key
OPENFORMAT_API_URL=your-openformat-api-url

# Matchain 
## The community/app id created in the rewards platform 
NEXT_PUBLIC_COMMUNITY_ID=your-community-id

## The points token address created in the app above
POINTS_TOKEN_ADDRESS=your-points-token-address

## The private key of the wallet that deployed the community/app
PRIVATE_KEY=your-private-key

KV_URL=your-kv-url

# Matchain MatchID App ID
NEXT_PUBLIC_MATCHID_APP_ID=your-matchid-app-id
